<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Categories</title>
  </head>
  <body>
  <h3>All Categories</h3>
  <p><%= link_to "Add Category", new_category_path(@categories) %></p>
    <ul class="container">
      <% @categories.each do |category| %>
      <ul class=category_<%= category.id %>
        <p><%= category.title %> </p>
        <p><%= link_to "Edit", edit_category_path(category) %>
          <%= link_to "Delete", category_path(category), method: "delete" %></p>
        </ul>
          <% end %>
    </ul>
  </body>
</html>
